<p style="color: green"><%= notice %></p>

<%= render @mocropost %>

<div>
  <%= link_to "Edit this mocropost", edit_mocropost_path(@mocropost) %> |
  <%= link_to "Back to mocroposts", mocroposts_path %>

  <%= button_to "Destroy this mocropost", @mocropost, method: :delete %>
</div>
